{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^\\.\\./.*$",
    "",
    "^\\.\\.?\\/(?!.*\\.css$)[a-z].+$",
    "",
    "^\\.\\.?\\/(?!.*\\.css$)[A-Z].+$",
    "",
    "\\.css$"
  ],
  "importOrderSafeSideEffects": ["\\.css$"],

  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "all"
}
