{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(\\.\/|\\.\\.\/)+[a-z][\\d\\D]*(.js)?(?<!css|scss|sass)$",
    "",
    "^(\\.\/|\\.\\.\/)+[A-Z][\\d\\D]*(.jsx)?(?<!css|scss|sass)$",
    "",
    "\\.(css|scss|sass)$",
    ""
  ],
  "importOrderSafeSideEffects": ["\\.(css|scss|sass)$"],

  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "all"
}
