p {
  margin: auto 1em;
  user-select: none;
}

span {
  user-select: none;
  margin: auto 0;
  padding: 0 0.5em;
  cursor: pointer;
}

span:hover {
  color: var(--item-border-hover);
  transition: 0.2s;
}