form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1em;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 1em;
  transform: translateX(50%);
  gap: 1em;
}
