form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1em;
}

.inputArea {
  height: 2.5em;
  display: flex;
  background-color: #2b2a33;
  border: 1px solid #8f8f9d;
  transition: 0.2s;
  cursor: pointer;
}

.inputArea:hover {
  border-color: whitesmoke;
}

.inputArea > input {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  border: none;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 1em;
  transform: translateX(50%);
  gap: 1em;
}
