.inputArea {
  height: 2.5em;
  display: flex;
  background-color: var(--item-bg);
  border: 1px solid var(--item-border);
  transition: 0.2s;
  cursor: pointer;
}

.inputArea:hover {
  border-color: var(--item-border-hover);
}

.inputArea > input {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  border: none;
  outline: none;
  background-color: var(--item-bg);
}
