.container {
  text-align: center;
  margin: 20vh auto;
  max-width: 900px;
  border: 1px solid var(--border);
  padding: 1em 2em;
  min-height: 20.5em;
}

h1 {
  margin: 0 auto 0.5em;
}

.listAndForm {
  display: flex;
  gap: 2em;
}

.listAndForm > * {
  width: 50%;
}

@media (max-width: 1000px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 90%;
  }
}
