.container {
  text-align: center;
  margin: 20vh auto;
  max-width: 900px;
  border: 1px solid #8f8f9d;
  padding: 1em 2em;
  min-height: 21.5em;
  position: relative;
}

h1 {
  max-width: fit-content;
  margin: 0.5em auto;
}

.listAndForm {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.listAndForm > * {
  width: 50%;
}

button,
input[type='submit'],
input[type='button'] {
  font-size: 1em;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.2s;
}

@media (max-width: 1000px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 90%;
  }
}
